h1 {
    font-size: 7vw;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

p {
    color: #363636;
}

.container {
    margin-top: 50px;
}

#network-mockup {
    width: 100%;
    max-width: 400px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 70px;
  }
}
